* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

.h1-container {
    padding: 100px;
}

.form-container {
    padding: 10px;
}

.search-label {
    font-size: 35px;
    font-weight: 1000;
}

.search-input {
    width: 95%;
    height: 40px;
    border-color: rgb(253, 170, 170);
    border-width: thin;
    padding: 0 15px;
}

.search-button {
    padding: 10px 75px;
}

.search-history-container {
    padding: 15px;
}

.past-search {
    background-color: saddlebrown;
    border-width: thin;
    border-color: black;
    border-style: dotted;
    border-radius: 15px;
    margin: 5;
    text-align: center;
    width: 600px;
    height: 50px;
    line-height: 50px;
    padding: 15 30px;
    color: white;
}

.past-search:hover {
    background-color: white;
    color: black;
}

.current-weather-container {
    border-color: blue;
    border-width: thin 0 thin thin;
    border-style: solid;
    border-radius: 5px;
    margin: 30px 0 0 30px;
    padding-bottom: 15px;
}

.current-title-container {
    display: flex;
}

.current-title {
    font-size: 60px;
    margin: 15px 0 20px 20px;
}

.current-weather-icon {
    width: 80px;
    height: 80px;
}

.current-temperature, .current-humidity, .current-wind-speed {
    margin: 15px 20px;
    font-size: 25px;
}

.current-uv-index {
    font-size: 20px;
    display: inline;
    margin: 0 0 0 20px;
}

.current-number {
    font-size: 20px;
    display: inline;
    color: black;
    padding: 5px 10px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: rgb(255, 0, 0);
}

.future-forecast-container {
    margin: 5px 20px 0 20px;
}

.future-forecast-title {
    font-size: 27px;
}

.future-card-details {
    width: 17%;
    padding: 7px 0 0 7px;
}

.future-date {
    font-size: 23px;
}

.future-icon {
    width: 50px;
    height: 50px;
    margin: 0 0 0 15px;
}

.future-temp, .future-humidity {
    font-size: 17px;
    font-weight: 200;
}